/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

* {
  box-sizing: border-box;
}

html{
  background-color: var(--background-color);
}

body {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--text-primary-color);
}

hr {
  border-color: var(--primary-color);
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: var(--primary-color);
}

h1{
  font-family: "Syne", sans-serif;
  font-size: 2rem;
}

h2.h-2 {
  margin-top: 0;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.8rem;
}

p {
  margin-top: 0;
  font-family: "Ubuntu";
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

code {
  background-color: #eee;
  padding: 0.5rem;
  display: block;
}

section {
  padding: 1rem;
}

input {
  max-width: 300px;
}

.index_center{
    text-align: center;
}

nav.primary-navigation {
  margin: 0 auto;
  display: block;
  padding: 30px 0 180px 0;
  text-align: center;
  font-size: 16px;
}

nav.primary-navigation ul li {
  list-style: none;
  margin: 0 auto;
  border-left: 2px solid var(--primary-color);
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-family: Josefin Sans;
}
nav.primary-navigation li a {
  color: #fff;
}
nav.primary-navigation li a:hover {
  color: var(--primary-color-hover);
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid var(--primary-color-hover);
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--primary-color-hover);
}

ul li ul li a {
  transition: all 0.5s ease;
}

.logo {
    width: 100px;
}
#images .image{
  width: 200px;
}

.index_center .h1{
  display: inline-block;
  overflow: hidden;
}
.index_center .h1 span{
  position: relative;
  bottom: -70px;
  animation: reveal 1s ease-in-out forwards;
}

@keyframes reveal {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 0px;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.index_center .h1 {
    animation: fade 0.3s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0;
}



/* 
  INTERACTIVE ELEMENTS -------------------
*/

.text-link {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.text-link:hover,
.text-link:focus {
  /* color: red; */
  text-decoration: underline;
}

/* Styling for the navigation button */
.btn-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50, 50, 50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.btn-nav:hover,
.btn-nav:focus {
  background-color: rgb(200, 200, 200);
}

.img-link {
  background-color: white;
  display: inline-block;
  cursor: pointer;
}

.nav-brand.img-link {
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.img-link > img {
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}

.img-link:hover > img,
.img-link:focus > img {
  opacity: 0.6;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem 0;
  width: 100%;
}

.input label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-style: normal;
}

.input input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.input .support {
  font-size: 14px;
  font-style: italic;
  color: gray;
}

/*.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-primary-text-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--btn-secondary-text-color);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}*/


  .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    font-family: Josefin Sans;
    max-width: 400px;
  }
  
  .btn:hover {
    background-color: var(--primary-color-hover);
  }

.buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.primary-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.8rem;
    padding: 0.6em 1.6em;
    border-radius: 40px;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    text-transform: uppercase;
}

.primary-btn:hover,
.primary-btn:focus {
  color: white;
  background-color: var(--secondary-color);
}

.buttons .primary-btn .outline {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

textarea{
/*  max-width: 400px;*/
    width:400px;
    height:150px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
/*  transition: all .2s ease-in-out;*/
}

/*.alt-send-button {
  width: 400px;
  height: 34px;
}*/

.send-text {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font: 700 12px 'Ubuntu';
  letter-spacing: 2px;
}

/*.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}*/
/* 
  TEXT ELEMENTS -------------------
*/
.h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h5 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.h6 {
  font-size: 0.75rem;
  font-weight: 500;
  margin: 1rem 0;
  font-style: normal;
}

.p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  font-style: normal;
}

ul.list {
  list-style-type: square;
  padding: 0;
  margin: 0;
}

.list li {
  list-style-type: square;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.list li:last-child {
  margin-bottom: 0;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.nav {
  display: flex;
  gap: 1rem;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
}

.nav-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.nav-brand {
  height: 100%;
  margin-right: 1rem;
}

.nav-brand img {
  height: 100%;
}

.row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.row > input {
  flex: 1;
}


#banner-placeholder {
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-placeholder.small {
  height: 200px;
}

#page-content {
  padding-top: 80px;
  min-height: calc(100vh - 51px);
}

.items {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.card .p {
  padding: 0;
  margin: 0;
}


.section {
  padding: 2rem;
}

.divider {
  padding: 0;
  border-bottom: 2px solid var(--primary-color);
  margin: 0 1rem;
}

.footer {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.checkout .description {
  display: flex;
  gap: 1rem;
}

.checkout-row .checkout {
  flex: 1;
  max-width: 400px;
}

.checkout-row .payment {
  max-width: 100%;
}

#payments-container {
  flex: 1;
}

.checkout .description img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.checkout-row {
  display: flex;
  gap: 10%;
  padding: 0 2rem;
}

.color {
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.color .h4 {
  font-size: 0.8rem;
}

.color .h5 {
  font-size: 0.7rem;
}

.primary {
  background-color: var(--primary-color);
  color: white;
}

.secondary {
  background-color: var(--secondary-color);
}

.highlight {
  background-color: var(--highlight-color);
}

.text-primary {
  background-color: var(--text-primary-color);
  color: black;
}


#images img {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
}

#icons .row {
  padding-top: 1rem;
}

#icons .icon h4 {
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .row, .items, .footer, .footer-section {
    flex-direction: column;
  }

  .row {
    gap: .3rem
  }

  .footer, .footer-section {
    align-items: center;
  }

  .search {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .nav-buttons {
    display: none;
  }

  .checkout-row .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .nav-section .text-link {
    display: none;
  }
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #000;
}

.social-media-list svg{
    color:#50E0B5cc;
}

.social-media-list .contact-icon{
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list .contact-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list .contact-icon:hover {
  background-color: #fff; 
}

.social-media-list .contact-icon:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list .contact-icon:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.6);
}