* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
/*    list-style-type: none;*/
    text-decoration: none;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #000;
}

.container {
    max-width: 1040px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}


img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0, 4% 15% / 10%);
}

.white{
    color: var(--primary-color);
    margin-bottom: 1rem;
}

h1.white{
    margin-top: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    padding-top: 4.5rem;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .containers{
    padding-top: 1rem;
    background-color: #f2f2f2;
    max-width: 1040px;
    margin: auto;
    width: 100%;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }


  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
/*  .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    font-family: Josefin Sans;
  }
  
  .btn:hover {
    background-color: var(--primary-color-hover);
  }*/
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

section landing service about projects {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

p {
    font-size: 0.85rem;
    color: var(--secondary-black);
}

.section-heading {
    font-size: 6rem;
    text-transform: uppercase;
    font-family: "Syne";
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
}
.section-heading::before {
    content: attr(data-outline);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 100%;

    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: 0.2rem;

    color: transparent;
    -webkit-text-stroke: 1.5px #5a24ed2f;
    z-index: -1;
}

.buttons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.primary-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.8rem;
    padding: 0.6em 1.6em;
    border-radius: 40px;
    font-family: "Ubuntu";
    font-size: 1.5rem;
    text-transform: uppercase;
}

.primary-btn:hover,
.primary-btn:focus {
  color: white;
  background-color: var(--secondary-color);
}

.buttons .primary-btn.outline {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.buttons .primary-btn.outline:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.buttons svg {
    width: 50px;
    color: var(--primary-color);
}

.buttons svg:hover
.buttons svg:focus{
    color: white;
}

.navigation{
    margin-left: 3rem;
    margin-top: 1rem;
}

/* landing section Styles */
#landing {
    height: 100vh;
    width: 100%;
    margin-top: -6.5rem;
/*    padding-top: 10rem;*/
}
#landing .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing .container .left {
    flex: 6;
    /* padding-right: 3rem; */
}
#landing .container .right {
    flex: 8;
}

#landing .left .subheading {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
    animation: fade 0.3s ease-in forwards;
    animation-delay: 1.1s;
    opacity: 0;
}
#landing .left .heading {
    font-size: 4.5rem;
    font-family: "Syne";
    /* max-width: 400px; */
    overflow: hidden;
}
#landing .left .heading .wrapper {
    /* position: relative; */
    display: inline-block;
    overflow: hidden;
    /* border: 1px solid red; */
}
#landing .left .heading .wrapper span {
    position: relative;
    bottom: -70px;
    animation: reveal 1s ease-in-out forwards;
}
@keyframes reveal {
    0% {
        bottom: -70px;
    }
    100% {
        bottom: 0px;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#landing .left .intro {
    margin-top: 1.5rem;
    font-size: 0.95rem;
    max-width: 400px;
    animation: fade 0.3s ease-in forwards;
    animation-delay: 1.1s;
    opacity: 0;
}
#landing .left .buttons {
    animation: fade 0.3s ease-in forwards;
    animation-delay: 1.1s;
    opacity: 0;
}

#landing .right {
    text-align: right;
}
#landing .right img {
    width: 100%;
    max-width: 450px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 12px;
}

/*#landing .right .img img {
    object-fit: cover;
    transition: 0.3s ease transform;
}
#landing:hover .right .img img {
    transform: scale(1.1);
    z-index: 1;
}
#landing .right .img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}*/

@media only screen and (max-width: 768px) {
    html {
        font-size: 9px;
    }
    #landing .container {
        flex-direction: column-reverse;
    }
    #landing .container .right {
        text-align: center;
        flex: 1;
        margin-bottom: 2rem;
    }
    #landing .container .left {
        text-align: center;
        padding-right: 0;
        flex: 1;
        height: fit-content;
    }
    #landing .left .buttons {
        justify-content: center;
    }
    #landing .left .heading {
        font-size: 4rem;
        margin: 0 auto;
    }
    #landing .container .left .intro {
        margin: 0 auto;
        margin-top: 2rem;
    }
    #landing .right img {
        width: 100%;
        height: 500px;
    }
}
@media only screen and (max-width: 950px) {
    #landing .container .right {
        flex: 6;
    }
}

/* Skills Section */
#skills {
    padding: 15rem 0;
}

#skills .all-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}
#skills .item {
    padding: 1.5rem;
    transition: 0.3s ease-in-out background-color;
    border-radius: 12px;
    flex: 1;
    border: 10px;
    border-color: var(--secondary-color);
}
#skills .item:nth-child(1):hover {
    background-color: var(--transparent-primary-color);
}
#skills .item:nth-child(2):hover {
    background-color: var(--transparent-highlight-color);
}
#skills .item:nth-child(3):hover {
    background-color: var(--transparent-secondary-color);
}
/*#skills .item:nth-child(1):hover {
    background-color: rgb(8 69 241 / 35%);
}
#skills .item:nth-child(2):hover {
    background-color: rgba(0, 255, 115, 0.151);
}
#skills .item:nth-child(3):hover {
    background-color: #cbbef093;
}*/
#skills .item .icon {
    width: 50px;
    height: 50px;
    padding: 0.8rem;
    background-color: rgba(255, 0, 0, 0.24);
    border-radius: 50%;
    margin-bottom: 1rem;
}
#skills .item-heading {
    font-weight: 500;
    font-size: 2rem;
    /* text-transform: uppercase; */
    margin-bottom: 1.5rem;
    font-family: 'Josefin Sans';
}
#skills .item-desc {
    color: var(--secondary-gray);
}
#skills .item:nth-child(1) .icon {
    background-color: var(--primary-color);
}
#skills .item:nth-child(2) .icon {
    background-color: var(--highlight-color);
}
#skills .item:nth-child(3) .icon {
    background-color: var(--secondary-color);
}
@media only screen and (max-width: 768px) {
    #skills .all-items {
        flex-direction: column;
        text-align: center;
    }
    #skills .item .icon {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    #skills .item {
        margin: 2rem 0;
    }
    #skills .item:nth-child(1){
        background-color: var(--transparent-primary-color);
    }
    #skills .item:nth-child(2){
        background-color: var(--transparent-highlight-color);
    }
    #skills .item:nth-child(3){
        background-color: var(--transparent-secondary-color);
    }
}


/* About section  */
#about {
    padding: 15rem 0;
    margin-top:-5rem;
}
#about .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#about .left {
    padding: 2rem;
    text-align: center;
}
#about .left .card {
    box-shadow: 0px 0px 20px #15CDCB33;
    padding: 3rem;
    border-radius: 12px;
    min-height: 400px;
}
#about .left .card .img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
}
#about .left .card .img img {
    object-fit: cover;
}
#about .left .card .card-desc {
    color: var(--secondary-gray);
    margin-bottom: 2rem;
}
#about .left .card .card-name {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}
#about .left .card .card-sub-title {
    font-size: 1.4rem;
}
#about .subheading {
    color: var(--primary-color);
    margin-bottom: 1rem;
}
#about .right .slogan {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
#about .right .right-text {
    color: var(--secondary-gray);
    font-size: 1rem;
    line-height: 2rem;
}
@media only screen and (max-width: 768px) {
    #about .wrapper {
        flex-direction: column-reverse;
        text-align: center;
    }
    #about .right .buttons {
        flex-direction: column;
    }
    #about .right .buttons a {
        width: 100%;
        text-align: center;
    }
}

/* Projects Section */
#projects {
    padding: 10rem 0;
}
#projects .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
    /* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
    flex-direction: row-reverse;
}
#projects .item .left {
    flex: 1;
}
#projects .item .right {
    margin-left: -100px;
    flex: 1;
    background-color: var(--body-bg);
    padding: 5rem 3rem;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #00000028;
    z-index: 2;
}
#projects .item:nth-of-type(even) .right {
    margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
    margin-left: -70px;
}
#projects .item .left .img {
    height: 460px;
    overflow: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #4705fc33;
    position: relative;
}
#projects .item .left .img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #15CDCB26;
/*    background-color: #5a24ed38;*/
}
#projects .item .left .img img {
    object-fit: cover;
    transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
    transform: scale(1.1);
    z-index: 1;
}
#projects .item .right .project-title {
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
#projects .item .right .project-desc {
    color: var(--secondary-gray);
    margin-bottom: 3rem;
}
#projects .item .right .external-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
    width: 25px;
}

@media only screen and (max-width: 768px) {
    #projects .item {
        flex-direction: column;
    }
    #projects .item .left {
        width: 100%;
    }
    #projects .item .right {
        margin-left: 0;
        width: 90%;
        margin-top: -150px;
    }
    #projects .item:nth-of-type(even) {
        flex-direction: column;
    }
    #projects .item:nth-of-type(even) .left {
        margin-left: 0;
    }

    #projects .item .right .project-title {
        margin-top: 3.5rem;
        font-size: 3rem;
}
    #projects .item .right .project-sub-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    #projects .item .right .project-desc {
        color: var(--primary-color);
        font-size: 1.6rem;
    }

    #projects .item .left .img img {
        margin-top: -3rem;
        object-fit: cover;
        transition: 0.3s ease transform;
    }
}
@media only screen and (max-width: 450px) {
    #projects .item .right .buttons {
        flex-direction: column;
    }
    #projects .item .right .buttons a {
        width: 100%;
        text-align: center;
    }
}



.banner {
    width:100vw;
    height: 10vh;
    margin: 0 auto;
}
.banner h1 {
    margin: 0;
}
.container .main-container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.project-text {
/*    background-color: #FE8E8E;*/
    padding: 20px;
    margin-top: 2.5rem;
    border-radius: 10px;
    border-style: inset;
    border: 2px solid var(--secondary-color);
}
.project-text h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--highlight-color);
    font-family: "Syne";
}
.project-text p {
    margin-bottom: 0;
    margin-top: 0.5rem;
    line-height: 1.4rem;
    color: var(--secondary-color);
}
.project-image {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}
@media screen and (min-width: 600px) {
    .project {
        flex-direction: row;
    }
    .project-text {
        flex-basis: 50%;
        padding: 20px;
    }
    .project-image {
        flex-basis: 50%;
        max-width: 100%;
        height: auto;
    }
}



.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control{
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

/*textarea{
    width:400px;
    height:150px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
}*/

/*.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}*/

/*.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Ubuntu';
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}*/

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -25px;
  padding-right: 20px;
  margin-top: -4rem;
  margin-bottom: 3rem;
}

.list-item {
  line-height: 4;
  color: #fff;
  margin-top: -2rem;
}


.contact-text {
  font: 300 18px 'Ubuntu';
  letter-spacing: 1.9px;
  color: #fff;
  margin-left: 0;
}

/*.icon .left{
    margin: 0;
    width: 20px;
    height: 20px;
}*/

.place {
  margin-left: 45px;
}

.phone {
  margin-left: 45px;
}

.email {
  margin-left: 45px;
}


.contact-text a {
  color: #fff;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #000;
}

.social-media-list svg{
    color:#50E0B5cc;
}

.social-media-list .contact-icon{
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list .contact-icon:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list .contact-icon:hover {
  background-color: #fff; 
}

.social-media-list .contact-icon:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list .contact-icon:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.6);
}

.direct-contact-container {
    width: 280px;
}  

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}