:root {
  --background-color: black;
  --body-background: none;

  --primary-color: #50E0B5;
  --primary-color-hover: #15CDCB;
  --secondary-color: #15CDCB;
  --highlight-color: #FE8E8E;
  --dark-color: #424142;

  --text-primary-color: #fff;
  --text-secondary-color: rgba(0, 0, 0, 0.6);

  --btn-primary-background: #50E0B5;
  --btn-primary-text-color: #fff;

  --btn-secondary-color: #fff;
  --btn-secondary-text-color: var(--text-primary-color);

  --transparent-primary-color: #50E0B5A6;
  --transparent-secondary-color: #15CDCBA6;
  --transparent-highlight-color: #FE8E8EA6;

  /* Footer */
  --overlay-1-background: #f0f0f0;
  --overlay-1-shadow: none;

  /* Navbar */
  --overlay-2-background: #e9eeef;
  --overlay-2-shadow: none;

  /* Side Menu */
  --overlay-3-background: #f5f5f5;
  --overlay-3-shadow: none;

  /* Modals, dropdowns, everything that is white in light mode */
  --overlay-4-background: #ffffff;
  --overlay-4-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.1);

  /* Table headers, hover */
  --overlay-5-background: #e7f5f7;
  --overlay-5-shadow: none;

  --creulean: #3ec4f3;
  --creulean-variant: #009be2;
  --jade: #34f5c6;
  --crimson: #ff3676;
  --sunburn: #ff7c26;
  --button: #17a2b8;
  --gradient1: linear-gradient(161.81deg, #3ec4f3 4.94%, #34f5c6 97.03%);
  --gradient2: linear-gradient(180deg, #ff3676 0%, #ff7c26 100%);

  --divider-color: rgba(0, 0, 0, 0.38);
  --divider-color: rgba(0, 0, 0, 0.38);
  --divider: 1px solid var(--divider-color);
  --divider-light: 1px solid var(--divider-color-light);
}

